body {
	font-family: "Jaro", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
  }


  .container {
	display: flex;
	justify-content: center;
	align-items: center;
    align-items: stretch; /* 자식 요소들이 동일한 높이를 가질 수 있도록 설정 */
  }

.game-button, .game-button2 {
    display: flex; /* Flexbox 레이아웃을 활성화 */
    flex-direction: column; /* 수직 방향으로 정렬 */
    justify-content: space-between; /* 상단과 하단에 요소 배치 */
    align-items: center; /* 가로 중앙 정렬 */
    min-height: 500px; /* 버튼의 최소 높이 설정 */
    padding: 20px 20px; /* 텍스트 주위의 여백을 추가하기 위해 패딩 사용 */
    margin: 0 3vw;
    font-size: 1.2em;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-button img, .game-button2 img {

	width: 100%;
    max-width: 512px; /* 이미지의 최대 너비 */
    min-width: 100px; /* 이미지의 최소 너비 */
    max-height: 512px; /* 이미지의 최대 높이 */
    min-height: 100px; /* 이미지의 최소 높이 */
    margin-bottom: 10px; /* 이미지와 텍스트 사이에 여백 */
	border-radius: 24px;
}

  .game-button {
	background-color: #89d8f7;
	color: #fff;
	font-size: 3vw;
}

.game-button:hover {
	background-color: #A6E1F9;
}

.game-button2 {
	background-color: #fc9393;
	color: #fff;
	font-size: 3vw;
  }

  .game-button2:hover {
	background-color: #F9A6A6;
  }

  .language-selector {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
  }

  .language-selector img {
	width: 50px;
	height: 50px;
  }

  #welcome-text {
	margin-top: 0;
	margin-bottom: 2vw;
	letter-spacing: 4px;
	font-size: clamp(48px, 5vw, 100px); /* 최소 16px, 기본 화면 너비의 5%, 최대 48px */
    /* font-size: 5vw; 화면 너비의 5%에 해당하는 크기로 조정 */
}

  #language-options {
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#language-options button {
    display: block;
    width: 100px;
    margin-bottom: 5px;
    cursor: pointer;
}

  .hidden {
	display: none;
  }

  .user-profile {
	position: fixed;
	top: 40px;
	right: 40px;
	display: flex;
	align-items: center;
	gap: 10px;
  }

  .profile-info {
	display: flex;
	align-items: center;
	font-size: 30px;
	gap: 10px;
	padding: 10px;
	background-color: #ddd;
	border-radius: 10px;
  }

  .profile-info img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
  }

  #user-page {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 10; /* Ensure it's on top */
  }
