* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;
	font-family: Jaro, sans-serif;
}

#setting-3D {
	height: 100%;
}

/* WebGL 컨테이너 설정 */
#webgl-container {
	width: 100%;
	height: 100%;
	background-color: #000;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.setting-container {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 400px;
	width: 400px;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.4); /* 반투명 흰색 배경 */
	padding: 20px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* 폼을 WebGL 컨테이너 중앙에 배치하고 반투명하게 설정 */
.selection {
	font-size: 30px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 10px;
	border-radius: 10px;
}

/* 라디오 버튼과 텍스트 스타일 */
.setting-container label {
	margin-left: 10px;
	display: block;
	color: #000;
}

.setting-container button {
	opacity: 0.7;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 26px;
	font-family: Jaro;
	margin: 0 auto;
	width: 150px;
	transition: background-color 0.3s;
}

.setting-container button:hover {
	background-color: #45a049;
}
